:root{
    --white: #fff;
    --light-white: #ccc;
    --button: #9cf;
    --text-H1: #333;
    --text-p: #444;

}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    /* overflow: hidden; */
    padding: 10px 40px; 
    background-color: var(--white);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.header .links{
    display: flex;
    gap: 30px;
    padding: 20px 0;
}
.header .links a{
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    transition: all 300ms;
}
.header .links a:hover{
    color: #ebb569;
    text-decoration: underline;
}
.header .searchbar{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #6e6767;
    border-radius: 10px;
    color: white;
}
.header .searchbar input, select{
    border: none;
    color: white;
    outline: none;
    background-color: #6e6767;
}
.header .searchbar select{
    padding: 10px 20px;
}
select option{
    font-size: 20px;
    margin: 10px 0 ;
}
.header .searchbar input::placeholder{
    color: white;
}
.categoryBody{
    display: flex;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
    justify-content: start;
    gap: 20px;
    align-content: center;
}
.categoryBody .category{
    width: 100px;
    height: 150px;
    border-radius: 20px;
    background-color: var(--light-white);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.category img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
}
.category p{
    color: var(--text-p);
    margin: 0;
    font-weight: 500;
    text-transform: capitalize;
}
.foodContainer{
    margin-top: 50px;
}
.foodContainer h2{
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 500;
    color: var(--text-H1);
}
.foodGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
}
.foodGrid .food{
    background-color: var(--food-color);
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}
.food img{
    width: 100%;
    border-radius: 20px;
    align-self: center;
}
.food h3{
    font-size: 30px;
    margin: 0;
}
.food p{
    font-size: 15px;
    margin: 0;
    font-weight: 300;
}
.btnHold{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnHold p{
    font-size: 25px;
    margin: 0;
    font-weight: 700;
    color: var(--text-p);
}
.btnHold button, .cart, .total button, footer button{
    background-color: var(--button);
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.myCart{
    background-color: var(--button);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transition: all 200ms;
}

.notification{
    width: 100%;
    padding: 20px 5px;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10000;
    box-sizing: border-box;
    transition: all 300ms;
    text-align: center;
    background-color: #eee;
}


.myCart.left{
    right: -1000%;
}
.shoppingCart{
    width: 700px;
    height: 500px;
    overflow: auto;
    display: grid;
    padding: 20px;
    gap: 30px;
    background-color: white;
    border-radius: 20px;
}
.icon{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
}
.shoppingCart .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head h1{
    font-size: 20px;
    color: var(--text-H1);
    font-weight: 500;
}
.shoppingCart .head button{
    color: red;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: none;
}
.shoppingCart .body{
    display: grid;
    transition: all 300ms ;
}
.body.remove{
    background-color: rebeccapurple;
    position: absolute;
    left: 100%;
}
.body .obj{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.obj h1{
    font-size: 35px;
    font-weight: 900;
    color: var(--text-H1);
}
.obj p{
    font-size: 25px;
    font-weight: 900;
}
.rest{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.rest.remove{
    display: none;
}
.rest img{
    width: 100%;
}
.obj img{
    width: 20%;
}
.shoppingCart .total{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-self: end;
}
.total h2{
    margin: 0;
}
.total p{
    margin: 0;
    font-size: 30px;
    font-weight: 900;
}
form{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 15px;
}
form div{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
input{
    border: none;
    outline: none;
    font-size: 20px;
}
input:focus{
    border-bottom: 1px solid black;
}
label{
    font-size: 15px;
}
.submit{
    padding: 10px 30px;
    margin: 0 auto;
    background-color: var(--button);
    outline: none;
    border: none;
    color: white;
    margin-top: 40px;
}
.order{
    position: fixed;
    top: -1000px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--button);
}
.order.show{
    top: 0;
}
.order form{
    /* background-color: white; */
    width: fit-content;
    padding: 14px 20px;
    width: 400px;
    background-color: white;
}
.order form div{
    display: flex;
    gap: 15px;
    width: 100%;
    flex-direction: column;
}
.pending{
    margin-top: 50px
}
.scroll{
    width: 100%;
    overflow-y: auto;
}
footer{
    position: fixed;
    bottom: 0;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    background: #333;
    width: 100%;
    left: 0;
    display: none;
    justify-content: space-between;
}
.category.active{
    scale: 0.9;
    border: 1px solid #333;
    /* opacity: 0.7; */
}
@media (max-width: 800px) {
    section{
        padding: 0;
    }
    header{
        z-index: 1;
        position: sticky;
        padding: 0 30px;
        top: 0px;
        box-shadow: 0px 10px 50px black;
    }
    header h1{
        font-size: 30px;
    }
    .foodContainer{
        padding: 30px;
    }
    .categoryBody{
        margin-top: 30px;
    }
    .foodGrid{
        grid-template-columns: 1fr;
    }

    .myCart{
        padding: 0;
    }
    .shoppingCart{
        height: 100%;
        overflow: auto;
    }
    .icon{
        width: 30px;
        height: 30px;
        top: 50px;
    }
    .obj h1, .obj p{
        font-size: 20px;
    }
    .order form{
        width: fit-content;
    }
}