div.checkOut
    h1 Total
    div.flex
        p.bold Sub-total
        p.subtotal $#{state.model.sum}
    div.flex
        p Delivery
        img( width="15px",height="15px",src="./images/icons/information.png")
    button(data-checkout) check out