div
    div
        h1 Check output
        p Enter your detail bellow to order 
    form
        div
            p Card number
            input(type="number")
        div
            p CVV number
            input(type="number")
        div
            p Expire date
            input(type="number")
        button Pay #{state.sum} now