div.holder
    if state.model.product.length > 0
        each value, index in state.model.product
            cms-element(imgsrc= value.foodsrc, name= value.name, extra= value.detail, price= value.price)
    else
        div No product currently in cms