div.header
    div.links
        a(href="./#/") Product
        a(href="./#/cms") CMS
        a(href="./#/cart") Cart
        a(href="./#/orders") Orders
    div.searchbar
        img(width="30px" height="30px" src="images/icons/search.png")
        input(data-input placeholder="Search")
        div.line
                select(data-option)
                    option( data-option value="food" selected) Food
                    option(data-option value="food 1") Food 1
                    option(data-option value="food 2") Food 2