div.imgAdder
    h1 Thumbnail 
    img(src= prop.imgsrc)
    p Set the product thumbnail image. Only *.png, *.jpg and *.jpeg files are supported
    input(type="file", id="selector", accept= 'image/*', data-file).nodisplay
    label(for="selector") Select image