if state.model.showOverlay
    div.overlay
        div.checkOutOverlay
            div(data-close).close close
            if state.model.isLoggedin
                checkoutform-element
            else
                signin-element 