
div
    if state.model.loginForm
        p Don't have an account?
        span(data-toggle) Sign up.
    else
        p Already have an account?
        span(data-toggle) Sign in.
if state.model.loginForm
    h1 Sign in
else
    h1 Sign up
div
    form
        div
            p Email:
            input(type="email")
        div
            p Password:
            input(type="password") 
        if state.model.loginForm
            div
                input(type="checkbox")
                p I've read and agreed with the terms and conditions
        if state.model.loginForm
            button Sign in
        else
            button Sign up