- let prod = state.model.product.filter((ele)=> ele.count>0)
mixin rows()
    if prod.length > 0
        each value, index in prod
                roll-element(imgsrc= value.foodsrc, number= value.uid ,name= value.name ,count= value.count, price= value.price ,total= value.price * value.count)
    else
        div No product in cart
div.tableBody
    div
        .row
            .wide Product details
            .medium Quality
            .medium Price
            .medium Total
            .medium
    div
        +rows()