mixin rows()
    each value, index in state.product
        if value.count > 0
            tr
                roll-element(imgsrc= value.foodsrc, number= value.uid ,name= value.name ,count= value.count, price= value.price ,total= value.price * value.count)
table
    tr
        th.wide Product details
        th.medium Quality
        th.medium Price
        th.medium Total
        th.medium
    +rows()